<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img height = 700 width = 700 src=" {{NAME.pic}} " alt="">
    <p>Name: {{NAME.name}} </p>
    <p>Age: {{NAME.age}} </p>
    <p>Gender: {{NAME.gender}} </p>
    <p>Hobbies: </p>
        {% for i in NAME.hobbies %}
        <p>{{i}}</p>
        {% endfor %}
    
     
</body>
</html>